.hero {
    height: 100dvh;

    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
}


.hero1{
    background-color: lightgreen;

}

.hero2{
    background-color: lightblue;
}