.nav{
    display: flex;
    gap: 15px;
    align-items: center;
    justify-content: center;
    padding: 15px;
    width: max;
    border-radius: 20px;
    background-color: gray;
    margin: 20px auto;


    a{
        text-decoration: none;
        text-transform: uppercase;
        color: black;
        background-color: white;
        padding: 10px;
        border-radius: 40px;

    }
}

.header{
    position: fixed;
    top: 0;
    left: 50%;

    transform: translateX(-50%);
}